body {
  font-family: Arial, sans-serif;
  background-color: #ccc8b1b7;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card {
  background: rgb(229, 229, 229);
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#addBtn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

li {
  background: #eeeeeeb8;
  padding: 10px;
  margin-bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#clearAllBtn {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  background: #3f4cab;
  color: white;
  cursor: pointer;
}